.Widget {
    width: 300px;
    height: 250px;
    margin: 1rem 0;
    padding: 1rem;

    box-shadow: 1px 1px 10px 0 #7b7b7b4f;
    border-radius: 0.5rem;

    container-type: inline-size;
}

.Widget > h4 {
    margin: 0;
    font-size: 1.15em;
}


@container widgetsViewport (min-width: 600px) {
    
    .Widget {
        margin: 1rem;
    }

    .LargeWidget {
        width: calc(600px + 2rem);
    }
}
