.Container {
    padding: 0 1rem 1rem;
  }
  
  
  .Container ol li{
    margin: 1rem 0;
  }
  
  .Container p span {
    color: var(--primary-color);
  }
  
  @media screen and (min-width: 769px) {
    .Container {
      padding: 0 4rem 1rem;
    }
  }
  
  @media screen and (min-width: 1700px) {
    .Container {
      padding: 0 10rem 1rem;
    }
  }