.FlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0 1rem;
}
.FlexContainer >img {
    width: 95%;
    max-width: 20rem;
}

.MessageHolder {
    margin: 1.5rem 0;
}

.MessageHolder p {
    font-size: small;
    padding-left: 0.5rem;
}

.MessageHolder h2 {
    color: var(--secondary-color);
}

.MessageHolder >a {
    margin: 1.7rem auto 0;
    border-radius: 1.5rem;
}

@media screen and (min-width: 1000px) {
    .FlexContainer {
        margin-top: 5rem;
    }
}