.PasswordRecoveryPortal > img {
    width: 60%;
}

.ContentHolder {
    height: 460px;
}

.FinalContentHolder {
    height: 200px;
}

.StartPage {
    animation: none;
    display: flex;
}

.HideAndResize {
    height: 230px;
    overflow: hidden;
}