.DefaultViewWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.EarningsPanel {
    display: flex;
    flex-direction: column;
}

.EarningsSummary {
    display: flex;
    flex-direction: column;
}

.EarningsSummary > h4 {
    display: none;
}

.EarningsSummary > ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

.EarningsSummary li {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    font-weight: bold;
}

.EarningsSummary li span {
    font-size: x-small;
    color: #636363;
}

.EarningsSummary > h3 {
    position: relative;
    text-align: right;
    margin-top: 0;
    font-size: x-large;
    padding: 0.25rem 0 0 0.75rem;
    width: -moz-fit-content;
    width: fit-content;
    align-self: flex-end;
}

.EarningsSummary >h3::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
}


.WageTipRatioPanel {
    position: relative;
    padding: 1.25rem 0;
    margin: 0 0.5rem;
}

.GraphIndicator {
    display: block;
    position: absolute;
    top: 0;
    width: 1px;
    height: 1.75rem;
    left: calc(var(--ratio-percent,0) - 1px);
    background-color: var(--primary-color);
}

.GraphIndicator::before {
    position: absolute;
    right: calc(100% + 0.35rem);
    top: 0;
    font-size: small;
    counter-reset: ratio calc(var(--ratio-value) + 0);
    content: counter(ratio) "%";
}

.GraphIndicator::after {
    position: absolute;
    left: 0.35rem;
    top: 0;
    font-size: small;
    counter-reset: ratio calc(100 - var(--ratio-value));
    content: counter(ratio) "%";
}

.OuterGraph {
    width: 100%;
    height: 1.5rem;
    background-color: #D9D9D9;
    border-radius: 0.5rem;
}

.InnerGraph {
    width: var(--ratio-percent, 0);
    height: 100%;
    background-color: var(--primary-color);
    border-radius: inherit;
}

.GraphLegend {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    padding-top: 0.15rem;
}

.GenericStatistics ul {
    list-style-type: none;
    padding-left: 0.5rem;
}

@media screen and (min-width: 386px) {

    .EarningsPanel {
        flex-direction: row-reverse;
        padding: 0 0.5rem;
    }

    .EarningsSummary {
        width: 47%;
    }

    .WageTipRatioPanel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }

    .GraphIndicator {
        left: 63px;
        top: -5px;
    }

    .GraphIndicator::before {
        counter-reset: ratio calc(100 - var(--ratio-value));
    }

    .GraphIndicator::after {
        counter-reset: ratio calc(var(--ratio-value) + 0);
    }

    .OuterGraph {
        height: 125px;
        width: 125px;
        border-radius: 50%;
    }

    .InnerGraph {
        width: 100%;
        background: conic-gradient(#0000 0%, var(--primary-color) 0%, var(--primary-color) var(--ratio-percent), #0000 var(--ratio-percent));
    }

    .GraphLegend {
        flex-direction: column;
        align-self: flex-start;
        margin-left: 2rem;
        margin-top: 0.5rem;
    }

    .GraphLegend span {
        position: relative;
    }

    .GraphLegend span::before {
        position: absolute;
        display: block;
        content: "";
        width: 10px;
        height: 10px;
        top: 50%;
        left: -12px;
        border-radius: 50%;
        transform: translateY(-50%);
        background-color: #D9D9D9;
    }

    .GraphLegend span:nth-child(1)::before {
        background-color: var(--primary-color);
    }

    .StatisticsPanel {
        padding: 0 5%;
    }

}

@media screen and (min-width: 426px) {
    .EarningsPanel {
        padding: 0 1.5rem;
    }

    .EarningsSummary {
        width: 50%;
    }
    
}


@media screen and (min-width: 600px) {
    .DefaultViewWrapper {
        padding: 0 1.5rem;
    }
}

@media screen and (min-width: 769px) {
    .DefaultViewWrapper {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 2rem 1.5rem;
    }

    .EarningsPanel {
        flex: 1;
        flex-direction: row;
        padding: 0;
    }

    .EarningsSummary {
        width: unset;
    }

    .WageTipRatioPanel {
        margin: auto;
    }

    .StatisticsPanel {
        padding: 0;
    }

    .StatisticsPanel:nth-child(2) {
        width: 240px;
    }

    .EarningsSummary > h4 {
        display: block;
    }

}

@media screen and (min-width: 1441px) {

    .EarningsPanel {
        flex: unset;
    }

    .WageTipRatioPanel {
        margin-left: 3rem;
        margin-right: 3rem;
    }

}

@media screen and (min-width: 1700px) {
    .DefaultViewWrapper {
        justify-content: space-evenly;
    }
    
}